<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar> Menu </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <a [routerLink]="['/']" class="title">{{ title }}</a>
      <div class="toolbar-spacer"></div>
      <a mat-button [routerLink]="['profile']">Profile</a>
      @if (!loginDisplay) {
      <button mat-raised-button [matMenuTriggerFor]="loginMenu">Login</button>
      } @else {
      <button
        mat-raised-button
        [matMenuTriggerFor]="logoutMenu"
      >
        Logout
      </button>
      }
      <mat-menu #loginMenu="matMenu">
        <button mat-menu-item (click)="loginRedirect()">
          Login using Redirect
        </button>
        <button mat-menu-item (click)="loginPopup()">Login using Popup</button>
      </mat-menu>

      <mat-menu #logoutMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout using Redirect</button>
        <button mat-menu-item (click)="logout(true)">Logout using Popup</button>
      </mat-menu>
    </mat-toolbar>
    @if (!isIframe) {
      <router-outlet></router-outlet>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
